* {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*iuld0h*_ga*NzI1ODA0MzU1OS4xNjcyODI0MDY0*_ga_3LRZM6TM9L*MTY4MDA3NzYzNS4yNC4xLjE2ODAwNzg1NjUuMC4wLjA.);
}

h2 {
    font-size: 32px;
    color: white;
}

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

span{
    font-weight: bold;
    color: blue;
}